body{
    display: flex;
}

.rectangulo{
    padding: 50px;
    /* border: 1px solid black; */
    /* width: 300px; */
    height: 300pX;
    font-weight: bold;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    flex-grow: 1;
    justify-content: space-between;
}

.separacion{
    flex-grow: 4;
}